.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 5px;
}

.td {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  color: white;
  background: rgba(255, 255, 255, 0.1);
}

.button {
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  height: 20px;
  width: 20px;
}

.icons {
  padding: 5px;
}
.done {
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  height: 20px;
  width: 20px;
  text-decoration: line-through;
}
